
/* universal */


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0px;

}

main{
    background-color:rgba(214, 221, 237, 0.3);
    padding-bottom: 104px;
    
}

.btn{
    font-weight: 700;
    font-size: 16;
    color: white;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;


}
.btn:hover{
    background-color: greenyellow;
}

/* nav banner page */


nav{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;

}
.nav-header{
    font-weight:900 ;
    font-size:34px ;
    color:#4E47FF ;
}
nav a{
    text-decoration: none;

}

.button{
    text-decoration: none;
    text-align: center;
}
.nav-banner-page{
    background-image:url(../Assets/Hero-bg.png);
    background-size: cover;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 152px;

}

nav li{
    list-style: none;
    display: inline;
    display: flex;
}

/* Banner button */
.banner a{
    text-decoration:  none;
    text-align: center;
}
.banner{
    text-align: center;
    margin-top: 158px;
}
.banner-header{
    font-weight:700 ;
    font-size: 65px;
    color: #252432;
}
.banner-container{
    margin-top: 37px;
    
    
}

/* Action section */

.action-heading{
    font-weight: 700;
    font-size: 42px;
    color: #252432;
}
.action-subtittle{
    font-size: 24px;
    color: #252432;
    padding-top: 23px;
    padding-bottom: 23px;
}

.action {
    display: flex;
    justify-content: space-between;
    padding-top: 116px;
}
.action-text-section {
    padding-left: 141px;
    padding-top: 62.5px;
    padding-bottom: 62.5px;
}
.image-section {
    padding-right: 159px;
   
}
.action-image { border-radius: 48px;

}

/* productive-users-section */
.productive-users-section {
   
    background-color:rgb(78, 71, 255, 10%);
    margin-top: 116px;
    margin-left: 141px;
    margin-right: 159px;
    border-radius: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 142px;
    padding-right: 142px;
}

.center-title {
    font-weight:700 ;
    font-size: 38px;
    color: #252432;
    text-align: center;
    padding-top: 50px;
}


.data {
    list-style: none;
    display: inline;
    justify-content: space-between;
    display: flex;
    padding-top: 40px;
    
}

.first-data {
    font-weight: 700;
    font-size: 80px;
    
}
.first-data-subtitle{
    font-weight: 400;
    font-size: 20px;
    
    
}

.second-data{
    
    font-weight: 700;
    font-size: 80px;
}

.second-data-subtitle{
    font-weight: 400;
    font-size: 20px;
}

.third-data{
    font-weight: 700;
    font-size: 80px;
}

.third-data-subtitle{
     font-weight: 400;
    font-size: 20px;
}

/* Ratting Section */

.rating{
    margin-top: 137px;
   margin-left: 149px;
   margin-left: 151px;
   margin-right: 149px;
   /* margin-bottom: 137px; */
}
.rating-section{
   display: flex;
  justify-content: space-between;
   

}

.rating-title{
    font-weight: 700;
    font-size:42px ;
    color: #252432;
    text-align: center;
    padding-bottom: 50px;
}
.rating-container{
    display: flex;
   
}
.rating-box{
    margin-right: 20px;
    border-radius: 14px;
    background-color: rgb(255, 255, 255, 50%);
   
}

.rating-description{
    margin-top: 8px;
     font-size: 16px;
     font-weight: 400;
}

.rating-container2{
    display: flex;
    gap: 12px;
    margin-top: 24px;
}
.rating-title2{
    font-size: 24px;
    font-weight: 600;
}
.rating-container3 h3{
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}
.rating-container3 p{
    font-size: 16px;
    font-weight: 400;
    color: #B3B3B3;
}

.star-icon{
    margin-bottom: 24px;
}
.rating-card{
    padding: 24px;
    background-color: white;
    border-radius: 14px;
}

.rating-container2 img{
    border-radius: 50%;
}

/* Get in Touch section */

.get-in-touch-section {
    padding-top: 92.23px;
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    justify-content: space-between;
}

.get-in-touch-section-title{
    font-weight: 700;
    font-size: 97px;
    color: #000000;
    
  

}
.form-elements form > input, textarea{
    /* text-align: center; */
    /* width: 497px;
    height: 70px; */
    /* padding: 20px 300px 20px 32px; */
    font-size: 20px;
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 270px;
    padding-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
   
}

.form-elements{
    font-weight: 500;
    font-size: 18px;
    padding-left: 115px;
}
.get-in-touch-button{
    padding-left: 230px;
    padding-right: 230px;
    padding-top: 19px;
    padding-bottom: 19px;
    margin-top: 19px;
    font-size: 16px;
}
 .form-elements label {
    display: block;
    margin-top: 19px;
 }
 textarea{
    padding-right: 230px;
 }
 
 /* footer */

 .footer-section{
    text-align: center;
    margin-top: 104px;
    margin-bottom: 103px;
 }

 .website-name{
    font-weight:900 ;
    font-size: 90px;
    color:#4E47FF ;
    text-align: center;
    padding-bottom: 8px;
    padding-left: 120px;
    padding-right: 120px;
 }
 
 .footer-section-subtitle{
    font-weight: 400;
    font-size: 20px;
    color: #8987A1;
    padding-bottom: 20px;

 }
.footer-items a{
    text-decoration: none;
    margin-right: 48px;
    color: #8987A1;
}

